In [2]:
import pandas as pd
import numpy as np

In [3]:
data =pd.read_csv("customer.csv")

In [4]:
data

,Rank,Title,Employees,Sector,Industry,Hqlocation,Revenues,Profits
0,1,Walmart,2300000,Retailing,General Merchandisers,"Bentonville, AR",485873,13643.0
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",223604,24074.0
2,3,Apple,116000,Technology,"Computers, Office Equipment","Cupertino, CA",215639,45687.0
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,"Irving, TX",205004,7840.0
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",192487,2258.0
...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,"Irving, TX",5197,378.2
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,"Horsham, PA",5170,382.1
497,498,Yahoo,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",5169,-214.3
498,499,Vistra Energy,4431,Energy,Energy,"Dallas, TX",5164,-214.3
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,"New York, NY",5145,57.2

In [40]:
data.head(20)

,Rank,Title,Employees,Sector,Industry,Hqlocation,Revenues,Profits
0,1,Walmart,2300000,Retailing,General Merchandisers,"Bentonville, AR",485873,13643.0
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",223604,24074.0
2,3,Apple,116000,Technology,"Computers, Office Equipment","Cupertino, CA",215639,45687.0
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,"Irving, TX",205004,7840.0
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",192487,2258.0
5,6,UnitedHealth Group,230000,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",184840,7017.0
6,7,CVS Health,204000,Health Care,Health Care: Pharmacy and Other Services,"Woonsocket, RI",177526,5317.0
7,8,General Motors,225000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",166380,9427.0
8,9,AT&T,268540,Telecommunications,Telecommunications,"Dallas, TX",163786,12976.0
9,10,Ford Motor,201000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",151800,4596.0
10,11,AmerisourceBergen,18500,Wholesalers,Wholesalers: Health Care,"Chesterbrook, PA",146850,1427.9
11,12,Amazon.com,341400,Technology,Internet Services and Retailing,"Seattle, WA",135987,2371.0
12,13,General Electric,295000,Industrials,Industrial Machinery,"Boston, MA",126661,8831.0
13,14,Verizon,160900,Telecommunications,Telecommunications,"New York, NY",125980,13127.0
14,15,Cardinal Health,37300,Wholesalers,Wholesalers: Health Care,"Dublin, OH",121546,1427.0
15,16,Costco,172000,Retailing,General Merchandisers,"Issaquah, WA",118719,2350.0
16,17,Walgreens Boots Alliance,300000,Food & Drug Stores,Food and Drug Stores,"Deerfield, IL",117351,4173.0
17,18,Kroger,443000,Food & Drug Stores,Food and Drug Stores,"Cincinnati, OH",115337,1975.0
18,19,Chevron,55200,Energy,Petroleum Refining,"San Ramon, CA",107567,-497.0
19,20,Fannie Mae,7000,Financials,Diversified Financials,"Washington, DC",107162,12313.0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqlocation  500 non-null    object
 6   Revenues    500 non-null    int64
 7   Profits     500 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 31.4+ KB

In [9]:
data.describe()

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [11]:
data.columns

Index(['Rank', 'Title', 'Employees', 'Sector', 'Industry', 'Hqlocation',
       'Revenues', 'Profits'],
      dtype='object')

In [12]:
data.head()

,Rank,Title,Employees,Sector,Industry,Hqlocation,Revenues,Profits
0,1,Walmart,2300000,Retailing,General Merchandisers,"Bentonville, AR",485873,13643.0
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",223604,24074.0
2,3,Apple,116000,Technology,"Computers, Office Equipment","Cupertino, CA",215639,45687.0
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,"Irving, TX",205004,7840.0
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",192487,2258.0

In [14]:
data.shape

(500, 8)

In [15]:
data.sample()

,Rank,Title,Employees,Sector,Industry,Hqlocation,Revenues,Profits
393,394,Ryder System,34500,Transportation,"Trucking, Truck Leasing","Miami, FL",6787,262.5

In [17]:
data.isnull().sum()

Rank          0
Title         0
Employees     0
Sector        0
Industry      0
Hqlocation    0
Revenues      0
Profits       0
dtype: int64

In [25]:
data['Sector'].unique()

array(['Retailing', 'Financials', 'Technology', 'Energy', 'Wholesalers',
       'Health Care', 'Motor Vehicles & Parts', 'Telecommunications',
       'Industrials', 'Food & Drug Stores', 'Aerospace & Defense',
       'Household Products', 'Food, Beverages & Tobacco',
       'Transportation', 'Media', 'Chemicals', 'Apparel',
       'Hotels, Restaurants & Leisure', 'Materials', 'Business Services',
       'Engineering & Construction'], dtype=object)

In [28]:
data['Industry'].unique()

array(['General Merchandisers',
       'Insurance: Property and Casualty (Stock)',
       'Computers, Office Equipment', 'Petroleum Refining',
       'Wholesalers: Health Care',
       'Health Care: Insurance and Managed Care',
       'Health Care: Pharmacy and Other Services',
       'Motor Vehicles and Parts', 'Telecommunications',
       'Internet Services and Retailing', 'Industrial Machinery',
       'Food and Drug Stores', 'Diversified Financials',
       'Commercial Banks', 'Specialty Retailers: Other',
       'Aerospace and Defense', 'Computer Software',
       'Information Technology Services',
       'Insurance: Property and Casualty (Mutual)', 'Pharmaceuticals',
       'Household and Personal Products',
       'Insurance: Life, Health (Stock)', 'Food Consumer Products',
       'Food Production', 'Mail, Package, and Freight Delivery',
       'Semiconductors and Other Electronic Components', 'Entertainment',
       'Wholesalers: Food and Grocery',
       'Network and Other Communications Equipment', 'Chemicals',
       'Health Care: Medical Facilities', 'Beverages',
       'Insurance: Life, Health (Mutual)', 'Airlines',
       'Electronics, Electrical Equipment',
       'Construction and Farm Machinery', 'Pipelines',
       'Specialty Retailers: Apparel', 'Apparel',
       'Utilities: Gas and Electric', 'Miscellaneous', 'Energy',
       'Tobacco', 'Wholesalers: Electronics and Office Equipment',
       'Food Services', 'Mining, Crude-Oil Production',
       'Automotive Retailing, Services', 'Packaging, Containers',
       'Medical Products and Equipment', 'Railroads',
       'Scientific, Photographic and Control Equipment', 'Temporary Help',
       'Engineering, Construction', 'Computer Peripherals',
       'Hotels, Casinos, Resorts', 'Metals',
       'Oil and Gas Equipment, Services', 'Advertising, Marketing',
       'Wholesalers: Diversified', 'Financial Data Services',
       'Transportation and Logistics', 'Diversified Outsourcing Services',
       'Waste Management', 'Home Equipment, Furnishings', 'Real Estate',
       'Homebuilders', 'Securities', 'Publishing, Printing',
       'Forest and Paper Products', 'Trucking, Truck Leasing',
       'Building Materials, Glass', 'Transportation Equipment',
       'Toys, Sporting Goods'], dtype=object)

In [31]:
sector=data.groupby('Sector')

In [32]:
sector

In [37]:
len(sector)

21

In [43]:
sector.size().sort_values(ascending=False)

Sector
Financials                       84
Energy                           57
Retailing                        47
Technology                       43
Health Care                      38
Wholesalers                      29
Food, Beverages & Tobacco        24
Business Services                20
Materials                        19
Industrials                      19
Transportation                   17
Chemicals                        14
Engineering & Construction       13
Aerospace & Defense              12
Household Products               12
Media                            11
Telecommunications               10
Hotels, Restaurants & Leisure    10
Motor Vehicles & Parts            9
Food & Drug Stores                7
Apparel                           5
dtype: int64

In [46]:
sector.first()

,Rank,Title,Employees,Industry,Hqlocation,Revenues,Profits
Sector,,,,,,,
Aerospace & Defense,24,Boeing,150540,Aerospace and Defense,"Chicago, IL",94571,4895.0
Apparel,88,Nike,70700,Apparel,"Beaverton, OR",32376,3760.0
Business Services,146,ManpowerGroup,28000,Temporary Help,"Milwaukee, WI",19654,443.7
Chemicals,62,Dow Chemical,56000,Chemicals,"Midland, MI",48158,4318.0
Energy,4,Exxon Mobil,72700,Petroleum Refining,"Irving, TX",205004,7840.0
Engineering & Construction,149,Fluor,61551,"Engineering, Construction","Irving, TX",19037,281.4
Financials,2,Berkshire Hathaway,367700,Insurance: Property and Casualty (Stock),"Omaha, NE",223604,24074.0
Food & Drug Stores,17,Walgreens Boots Alliance,300000,Food and Drug Stores,"Deerfield, IL",117351,4173.0
"Food, Beverages & Tobacco",44,PepsiCo,264000,Food Consumer Products,"Purchase, NY",62799,6329.0
Health Care,6,UnitedHealth Group,230000,Health Care: Insurance and Managed Care,"Minnetonka, MN",184840,7017.0
"Hotels, Restaurants & Leisure",112,McDonaldâ€™s,375000,Food Services,"Oak Brook, IL",24622,4686.5
Household Products,36,Procter & Gamble,105000,Household and Personal Products,"Cincinnati, OH",71726,10508.0
Industrials,13,General Electric,295000,Industrial Machinery,"Boston, MA",126661,8831.0
Materials,133,International Paper,55000,"Packaging, Containers","Memphis, TN",21079,904.0
Media,52,Disney,195000,Entertainment,"Burbank, CA",55632,9391.0
Motor Vehicles & Parts,8,General Motors,225000,Motor Vehicles and Parts,"Detroit, MI",166380,9427.0
Retailing,1,Walmart,2300000,General Merchandisers,"Bentonville, AR",485873,13643.0
Technology,3,Apple,116000,"Computers, Office Equipment","Cupertino, CA",215639,45687.0
Telecommunications,9,AT&T,268540,Telecommunications,"Dallas, TX",163786,12976.0
Transportation,46,UPS,335520,"Mail, Package, and Freight Delivery","Atlanta, GA",60906,3431.0
Wholesalers,5,McKesson,68000,Wholesalers: Health Care,"San Francisco, CA",192487,2258.0

In [49]:
sector.first(5)

                               Rank  Employees  Revenues  Profits
Sector
Aerospace & Defense              24     150540     94571   4895.0
Apparel                          88      70700     32376   3760.0
Business Services               146      28000     19654    443.7
Chemicals                        62      56000     48158   4318.0
Energy                            4      72700    205004   7840.0
Engineering & Construction      149      61551     19037    281.4
Financials                        2     367700    223604  24074.0
Food & Drug Stores               17     300000    117351   4173.0
Food, Beverages & Tobacco        44     264000     62799   6329.0
Health Care                       6     230000    184840   7017.0
Hotels, Restaurants & Leisure   112     375000     24622   4686.5
Household Products               36     105000     71726  10508.0
Industrials                      13     295000    126661   8831.0
Materials                       133      55000     21079    904.0
Media                            52     195000     55632   9391.0
Motor Vehicles & Parts            8     225000    166380   9427.0
Retailing                         1    2300000    485873  13643.0
Technology                        3     116000    215639  45687.0
Telecommunications                9     268540    163786  12976.0
Transportation                   46     335520     60906   3431.0
Wholesalers                       5      68000    192487   2258.0

In [56]:
sector.last()

,Rank,Title,Employees,Industry,Hqlocation,Revenues,Profits
Sector,,,,,,,
Aerospace & Defense,492,Rockwell Collins,19000,Aerospace and Defense,"Cedar Rapids, IA",5259,728.0
Apparel,432,Hanesbrands,67800,Apparel,"Winston-Salem, NC",6063,539.4
Business Services,500,ABM Industries,110000,Diversified Outsourcing Services,"New York, NY",5145,57.2
Chemicals,484,Celanese,7293,Chemicals,"Irving, TX",5389,900.0
Energy,499,Vistra Energy,4431,Energy,"Dallas, TX",5164,-214.3
Engineering & Construction,497,Toll Brothers,4200,Homebuilders,"Horsham, PA",5170,382.1
Financials,483,Western & Southern Financial Group,2178,"Insurance: Life, Health (Mutual)","Cincinnati, OH",5398,241.2
Food & Drug Stores,176,Whole Foods Market,73515,Food and Drug Stores,"Austin, TX",15724,507.0
"Food, Beverages & Tobacco",486,Seaboard,11781,Food Production,"Merriam, KS",5379,312.0
Health Care,454,Genesis Healthcare,82000,Health Care: Medical Facilities,"Kennett Square, PA",5733,-64.0
"Hotels, Restaurants & Leisure",461,Wyndham Worldwide,37800,"Hotels, Casinos, Resorts","Parsippany, NJ",5599,611.0
Household Products,474,Mattel,32000,"Toys, Sporting Goods","El Segundo, CA",5457,318.0
Industrials,445,Terex,18100,Construction and Farm Machinery,"Westport, CT",5841,-176.1
Materials,458,Owens Corning,16000,"Building Materials, Glass","Toledo, OH",5677,393.0
Media,491,Liberty Media,3626,Entertainment,"Englewood, CO",5276,680.0
Motor Vehicles & Parts,447,Dana,24900,Motor Vehicles and Parts,"Maumee, OH",5826,640.0
Retailing,496,Michaels Cos.,31000,Specialty Retailers: Other,"Irving, TX",5197,378.2
Technology,498,Yahoo,8500,Internet Services and Retailing,"Sunnyvale, CA",5169,-214.3
Telecommunications,485,Windstream Holdings,11870,Telecommunications,"Little Rock, AR",5387,-383.5
Transportation,438,Alaska Air Group,19112,Airlines,"Seattle, WA",5931,814.0
Wholesalers,489,Airgas,17000,Wholesalers: Diversified,"Radnor, PA",5314,337.5

In [52]:
sector.groups

{'Aerospace & Defense': [23, 49, 55, 89, 113, 115, 199, 227, 272, 379, 392, 491], 'Apparel': [87, 229, 334, 370, 431], 'Business Services': [145, 178, 186, 191, 200, 239, 241, 263, 266, 298, 300, 344, 377, 451, 458, 470, 477, 489, 492, 499], 'Chemicals': [61, 112, 182, 203, 210, 235, 274, 288, 293, 308, 376, 466, 481, 483], 'Energy': [3, 18, 33, 36, 50, 78, 88, 102, 114, 116, 120, 121, 140, 144, 156, 166, 169, 171, 172, 174, 193, 195, 214, 228, 230, 233, 234, 236, 237, 255, 262, 271, 273, 277, 279, 284, 307, 311, 327, 342, 343, 348, 355, 357, 361, 364, 366, 367, 374, 399, 401, 418, 430, 456, 479, 487, 498], 'Engineering & Construction': [148, 160, 231, 258, 259, 323, 352, 354, 359, 414, 445, 493, 496], 'Financials': [1, 19, 20, 24, 25, 29, 32, 38, 41, 47, 54, 64, 67, 74, 75, 76, 77, 79, 83, 85, 96, 98, 99, 101, 119, 124, 125, 152, 165, 167, 176, 184, 188, 206, 209, 212, 213, 217, 221, 226, 238, 244, 245, 254, 257, 261, 265, 270, 276, 285, 292, 301, 302, 314, 315, 328, 341, 353, 356, 360, 381, 388, 390, 397, 402, 404, 410, 427, 435, 436, 438, 447, 450, 454, 459, 461, 463, 468, 471, 474, 475, 476, 478, 482], 'Food & Drug Stores': [16, 17, 48, 84, 90, 157, 175], 'Food, Beverages & Tobacco': [43, 44, 63, 81, 92, 103, 105, 108, 147, 164, 196, 208, 215, 222, 294, 338, 345, 350, 368, 407, 415, 426, 455, 485], 'Health Care': [5, 6, 21, 28, 34, 42, 52, 53, 62, 65, 68, 69, 91, 110, 122, 129, 131, 133, 134, 146, 155, 180, 194, 224, 247, 251, 253, 275, 280, 289, 326, 351, 365, 373, 375, 389, 433, 453], 'Hotels, Restaurants & Leisure': [111, 130, 162, 240, 248, 296, 384, 398, 421, 460], 'Household Products': [35, 154, 181, 207, 249, 252, 310, 371, 417, 443, 452, 473], 'Industrials': [12, 72, 73, 93, 104, 136, 138, 158, 163, 201, 250, 297, 336, 369, 385, 391, 424, 441, 444], 'Materials': [132, 168, 189, 278, 299, 305, 319, 332, 340, 346, 394, 396, 400, 412, 420, 429, 440, 449, 457], 'Media': [51, 94, 100, 192, 223, 329, 331, 387, 411, 425, 490], 'Motor Vehicles & Parts': [7, 9, 150, 183, 282, 304, 321, 382, 446], 'Retailing': [0, 15, 22, 37, 39, 71, 86, 109, 126, 127, 128, 135, 139, 141, 149, 173, 177, 187, 202, 218, 219, 220, 232, 243, 260, 268, 269, 286, 290, 291, 295, 306, 317, 318, 320, 322, 339, 347, 383, 395, 409, 416, 422, 462, 469, 494, 495], 'Technology': [2, 11, 26, 27, 31, 40, 46, 58, 59, 60, 80, 97, 118, 143, 151, 153, 161, 198, 204, 205, 216, 225, 264, 267, 309, 313, 316, 325, 362, 378, 380, 386, 405, 408, 413, 423, 432, 439, 442, 464, 467, 480, 497], 'Telecommunications': [8, 13, 30, 95, 159, 185, 312, 335, 448, 484], 'Transportation': [45, 57, 66, 70, 82, 137, 142, 190, 211, 256, 283, 393, 403, 406, 428, 434, 437], 'Wholesalers': [4, 10, 14, 56, 106, 107, 117, 123, 170, 179, 197, 242, 246, 281, 287, 303, 324, 330, 333, 337, 349, 358, 363, 372, 419, 465, 472, 486, 488]}

In [55]:
data.iloc[23]

Rank                             24
Title                        Boeing
Employees                    150540
Sector          Aerospace & Defense
Industry      Aerospace and Defense
Hqlocation              Chicago, IL
Revenues                      94571
Profits                      4895.0
Name: 23, dtype: object

In [57]:
data.iloc[460]

Rank                                    461
Title                     Wyndham Worldwide
Employees                             37800
Sector        Hotels, Restaurants & Leisure
Industry           Hotels, Casinos, Resorts
Hqlocation                   Parsippany, NJ
Revenues                               5599
Profits                               611.0
Name: 460, dtype: object

In [59]:
sector.get_group('Technology')

,Rank,Title,Employees,Sector,Industry,Hqlocation,Revenues,Profits
2,3,Apple,116000,Technology,"Computers, Office Equipment","Cupertino, CA",215639,45687.0
11,12,Amazon.com,341400,Technology,Internet Services and Retailing,"Seattle, WA",135987,2371.0
26,27,Alphabet,72053,Technology,Internet Services and Retailing,"Mountain View, CA",90272,19478.0
27,28,Microsoft,114000,Technology,Computer Software,"Redmond, WA",85320,16798.0
31,32,IBM,414400,Technology,Information Technology Services,"Armonk, NY",79919,11872.0
40,41,Dell Technologies,138000,Technology,"Computers, Office Equipment","Round Rock, TX",64806,-1672.0
46,47,Intel,106000,Technology,Semiconductors and Other Electronic Components,"Santa Clara, CA",59387,10316.0
58,59,Hewlett Packard Enterprise,195000,Technology,Information Technology Services,"Palo Alto, CA",50123,3161.0
59,60,Cisco Systems,73700,Technology,Network and Other Communications Equipment,"San Jose, CA",49247,10739.0
60,61,HP,49000,Technology,"Computers, Office Equipment","Palo Alto, CA",48238,2496.0
80,81,Oracle,136000,Technology,Computer Software,"Redwood City, CA",37047,8901.0
97,98,Facebook,17048,Technology,Internet Services and Retailing,"Menlo Park, CA",27638,10217.0
118,119,Qualcomm,30500,Technology,Semiconductors and Other Electronic Components,"San Diego, CA",23554,5705.0
143,144,Danaher,62000,Technology,"Scientific, Photographic and Control Equipment","Washington, DC",19912,2553.7
151,152,Jabil Circuit,138000,Technology,Semiconductors and Other Electronic Components,"St. Petersburg, FL",18353,254.1
153,154,Thermo Fisher Scientific,54800,Technology,"Scientific, Photographic and Control Equipment","Waltham, MA",18274,2021.8
161,162,Xerox,133600,Technology,Computer Peripherals,"Norwalk, CT",17126,-477.0
198,199,CDW,8516,Technology,Information Technology Services,"Lincolnshire, IL",13982,424.4
204,205,Cognizant Technology Solutions,260200,Technology,Information Technology Services,"Teaneck, NJ",13487,1553.0
205,206,Texas Instruments,29865,Technology,Semiconductors and Other Electronic Components,"Dallas, TX",13370,3595.0
216,217,Western Digital,72878,Technology,Computer Peripherals,"Irvine, CA",12994,242.0
225,226,Micron Technology,31400,Technology,Semiconductors and Other Electronic Components,"Boise, ID",12399,-276.0
264,265,Applied Materials,16150,Technology,Semiconductors and Other Electronic Components,"Santa Clara, CA",10825,1721.0
267,268,Priceline Group,18500,Technology,Internet Services and Retailing,"Norwalk, CT",10743,2135.0
309,310,eBay,12600,Technology,Internet Services and Retailing,"San Jose, CA",8979,7266.0
313,314,Netflix,3850,Technology,Internet Services and Retailing,"Los Gatos, CA",8831,186.7
316,317,Expedia,20075,Technology,Internet Services and Retailing,"Bellevue, WA",8774,281.8
325,326,salesforce.com,25000,Technology,Computer Software,"San Francisco, CA",8392,179.6
362,363,Harris,21000,Technology,Network and Other Communications Equipment,"Melbourne, FL",7527,324.0
378,379,Computer Sciences,59000,Technology,Information Technology Services,"Tysons, VA",7106,251.0
380,381,Leidos Holdings,32000,Technology,Information Technology Services,"Reston, VA",7043,244.0
386,387,Nvidia,10299,Technology,Semiconductors and Other Electronic Components,"Santa Clara, CA",6910,1666.0
405,406,Activision Blizzard,9500,Technology,Computer Software,"Santa Monica, CA",6608,966.0
408,409,NCR,33500,Technology,"Computers, Office Equipment","Duluth, GA",6543,270.0
413,414,Sanmina,40178,Technology,Semiconductors and Other Electronic Components,"San Jose, CA",6481,187.8
423,424,Amphenol,62000,Technology,Network and Other Communications Equipment,"Wallingford, CT",6286,822.9
432,433,Motorola Solutions,14000,Technology,Network and Other Communications Equipment,"Chicago, IL",6038,560.0
439,440,Lam Research,7500,Technology,Semiconductors and Other Electronic Components,"Fremont, CA",5886,914.0
442,443,Adobe Systems,15706,Technology,Computer Software,"San Jose, CA",5854,1168.8
464,465,Symantec,11000,Technology,Computer Software,"Mountain View, CA",5568,2488.0
467,468,NetApp,12030,Technology,Computer Peripherals,"Sunnyvale, CA",5546,229.0
480,481,Booz Allen Hamilton Holding,22600,Technology,Information Technology Services,"McLean, VA",5406,294.1
497,498,Yahoo,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",5169,-214.3

In [60]:
sector.get_group('Apparel')

,Rank,Title,Employees,Sector,Industry,Hqlocation,Revenues,Profits
87,88,Nike,70700,Apparel,Apparel,"Beaverton, OR",32376,3760.0
229,230,VF,69000,Apparel,Apparel,"Greensboro, NC",12207,1074.1
334,335,PVH,26650,Apparel,Apparel,"New York, NY",8203,549.0
370,371,Ralph Lauren,20500,Apparel,Apparel,"New York, NY",7405,396.0
431,432,Hanesbrands,67800,Apparel,Apparel,"Winston-Salem, NC",6063,539.4

In [64]:
sector.get_group('Apparel').shape[0]

5

In [65]:
sector.get_group('Apparel').sum()

Rank                                                       1456
Title                          NikeVFPVHRalph LaurenHanesbrands
Employees                                                254650
Sector                      ApparelApparelApparelApparelApparel
Industry                    ApparelApparelApparelApparelApparel
Hqlocation    Beaverton, ORGreensboro, NCNew York, NYNew Yor...
Revenues                                                  66254
Profits                                                  6318.5
dtype: object

In [79]:
sector['Revenues'].sum().sort_values(ascending=True)

Sector
Apparel                            66254
Hotels, Restaurants & Leisure     121189
Engineering & Construction        124682
Materials                         169755
Media                             180767
Household Products                180846
Chemicals                         188667
Business Services                 194685
Aerospace & Defense               338302
Transportation                    354733
Food & Drug Stores                389686
Motor Vehicles & Parts            392466
Industrials                       418359
Telecommunications                459978
Food, Beverages & Tobacco         472806
Wholesalers                       799416
Energy                           1176417
Technology                       1257589
Health Care                      1318389
Retailing                        1383281
Financials                       2067607
Name: Revenues, dtype: int64

In [82]:
sector['Profits'].sum().sort_values(ascending=True)

Sector
Energy                              370.6
Engineering & Construction         5072.2
Materials                          5176.9
Apparel                            6318.5
Food & Drug Stores                 8522.0
Wholesalers                       11347.1
Hotels, Restaurants & Leisure     14510.6
Chemicals                         15918.3
Motor Vehicles & Parts            17275.8
Household Products                19803.7
Media                             20034.7
Business Services                 23107.1
Aerospace & Defense               25119.7
Transportation                    28395.0
Industrials                       32826.1
Telecommunications                41272.8
Retailing                         46613.9
Food, Beverages & Tobacco         56308.4
Health Care                      105383.9
Technology                       177901.4
Financials                       228461.2
Name: Profits, dtype: float64