In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
import pandas as pd
print(pd.__version_)

2.2.1

In [13]:
mydataset= {
    'foods':["fruits", "vegetable","soups"], 
    'digits':[45,85,90]
}
  
    
pd.DataFrame(mydataset)

       foods  digits
0     fruits      45
1  vegetable      85
2      soups      90

In [17]:
mydataset= {
    'he':["fruits", "vegetable","soups"], 
    'digits':[45,85,90]
}
df= pd.DataFrame(mydataset)
print(df)

          he  digits
0     fruits      45
1  vegetable      85
2      soups      90

In [18]:
mydataset= {
    'foods':["fruits", "vegetable","soups","pasta","pizza","cake"], 
    'digits':[45,85,90,65,87,43],
    'people':["umar","iqra","nancy","hassam","abeeha","anooshay"]
}

df=pd.DataFrame(mydataset)

print(df.head())

       foods  digits  people
0     fruits      45    umar
1  vegetable      85    iqra
2      soups      90   nancy
3      pasta      65  hassam
4      pizza      87  abeeha

In [23]:
mydataset= {
    'foods':["fruits", "vegetable","soups","pasta","pizza","cake"], 
    'digits':[45,85,90,65,87,43],
    'people':["umar","iqra","nancy","hassam","abeeha","anooshay"]
}

df=pd.DataFrame(mydataset)

print(df.tail(2))

   foods  digits    people
4  pizza      87    abeeha
5   cake      43  anooshay

In [27]:
mydataset= {
    'foods':["fruits", "vegetable","soups","pasta","pizza","cake"], 
    'digits':[45,85,90,65,87,43],
    'people':["umar","iqra","nancy","hassam","abeeha","anooshay"]
}

df=pd.DataFrame(mydataset)

df.sample()

   foods  digits  people
4  pizza      87  abeeha

In [25]:
mydataset= {
    'foods':["fruits", "vegetable","soups","pasta","pizza","cake"], 
    'digits':[45,85,90,65,87,43],
    'people':["umar","iqra","nancy","hassam","abeeha","anooshay"]
}

df=pd.DataFrame(mydataset)

print(df.shape)

(6, 3)

In [29]:
mydataset= {
    'foods':["fruits", "vegetable","soups","pasta","pizza","cake"], 
    'digits':[45,85,90,65,87,43],
    'people':["umar","iqra","nancy","hassam","abeeha","anooshay"]
}

df=pd.DataFrame(mydataset)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   foods   6 non-null      object
 1   digits  6 non-null      int64
 2   people  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [30]:
mydataset= {
    'foods':["fruits", "vegetable","soups","pasta","pizza","cake"], 
    'digits':[45,85,90,65,87,43],
    'people':["umar","iqra","nancy","hassam","abeeha","anooshay"]
}

df=pd.DataFrame(mydataset)

df.describe()

          digits
count   6.000000
mean   69.166667
std    21.395482
min    43.000000
25%    50.000000
50%    75.000000
75%    86.500000
max    90.000000

In [1]:
dataset= {'animals':["lion","cat","dog","hen","tiger"],
          'numbers':[90,87,65,45,33,20],
          'name':["abby","katy","cinthy","batty","iqra","khalid"]
         }

df = pd.DataFrame(dataset)

pd.DataFrame(mydataset)

NameError: name 'pd' is not defined