In [15]:
!pip.install pandas

Requirement already satisfied: pandas in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\lab4\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [25]:
import pandas as pd
print(pd.__version__)

2.2.1

In [34]:
dataset= {'animals':["lion","cat","dog","hen","tiger"],
          'numbers':[90,87,65,45,33],
          'name':["abby","katy","cinthy","batty","iqra"]
         }

df = pd.DataFrame(dataset)

print(df)
df

  animals  numbers    name
0    lion       90    abby
1     cat       87    katy
2     dog       65  cinthy
3     hen       45   batty
4   tiger       33    iqra

In [30]:
df.shape

(5, 3)

In [31]:
df.describe()

        numbers
count   5.00000
mean   64.00000
std    25.13961
min    33.00000
25%    45.00000
50%    65.00000
75%    87.00000
max    90.00000